$color-green-100: hsl(193, 38%, 86%);
$color-green-200: hsl(150, 100%, 66%);

$color-blue-100: hsl(217, 19%, 38%);
$color-blue-200: hsl(217, 19%, 24%);
$color-blue-300: hsl(218, 23%, 16%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body, html {
  height: 100%;
}

body {
  background-color: $color-blue-300;

  font-family: "manropeextrabold";
  font-weight: 800;
  color: $color-green-100;
}
